#demo{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    position: relative;
}
#main {
    height: 150px;
    width: 150px;
    background-color: cadetblue;
    position: relative;
    margin-top: 20px;
}